.mobile-nav-wrap {
  display: none;
  width: 320px;
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  color: var(--footer-text-color);
  background-color: var(--footer-bg);

  a {
    color: var(--footer-text-color);
    transition: color 0.2s ease-in;
    &:hover {
      color: #fff;
    }
  }

  &--open {
    display: block;
  }
}
.mobile-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.mobile-cart {
  display: flex;
  gap: 20px;
  align-items: center;
  
  flex-grow: 1;
  padding-right: 20px;
  
  font-size: 22px;
  font-weight: 500;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.mobile-nav {
  display: grid;
  gap: 20px;
  font-size: 22px;
}
.mobile-nav-btn-close {
  padding: 10px;
}
.mobile-nav__item {}
.mobile-nav__link {}
.mobile-nav__link--dropdown {}
.mobile__sub-nav {
  
}
.mobile-sub-nav {
  padding: 20px 0 0 20px;
  display: grid;
  gap: 14px;
  font-size: 16px;
}
.mobile-sub-nav__item {}
.mobile-sub-nav__link {}