.sub-nav {
  display: grid;
  gap: 16px;
  background-color: var(--footer-bg);
  padding: 20px 25px;
  border-radius: 10px;
  color: var(--footer-text-color);
  font-size: 16px;

  a {
    color: var(--footer-text-color);
    transition: color 0.2s ease-in;
    &:hover {
      color: var(--accent);
    }
  }
}
.sub-nav__item {

}
.sub-nav__link {

}